venv/
__pycache__/
*.pyc
.vscode/
module_2/llm_hosting/models/
drafts/
.DS_Store
module_3/.env
module_3/subprocess/__pycache__/
module_3/subprocess/llm_hosting/models/
module_3/subprocess/models/
module_3/models
.claude/
CLAUDE.md
