{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Contact{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="content-card">
    <p>Feel free to reach out to me via email or connect on LinkedIn.</p>
    
    <ul class="contact-list">
      <li>
        <strong>Email:</strong> 
        <a href="mailto:siva.snapfish@gmail.com">siva.snapfish@gmail.com</a>
      </li>
      <li>
        <strong>LinkedIn:</strong> 
        <a href="https://www.linkedin.com/in/sivag11" target="_blank">Siva G's LinkedIn Profile</a>
      </li>
    </ul>
  </div>
{% endblock content %}