{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Projects{% endblock title %}</h2>
{% endblock header %}

{% block content %}
  <div class="project-card">
    <h3>Module 1: Personal Website</h3>
    <p>
      This project involves creating a personal developer website using Flask. 
      It features a responsive design, navigation, and details about my Python coursework.
    </p>
    <a href="https://github.com/sivag1/jhu_software_concepts" target="_blank">View on GitHub</a>
  </div>
{% endblock content %}