<nav>
  <ul>
    <li>
      <a href="{{ url_for('pages.home') }}" 
         class="{{ 'active' if request.endpoint == 'pages.home' else '' }}">
         Home
      </a>
    </li>
    <li>
      <a href="{{ url_for('pages.projects') }}" 
         class="{{ 'active' if request.endpoint == 'pages.projects' else '' }}">
         Projects
      </a>
    </li>
    <li>
      <a href="{{ url_for('pages.contact') }}" 
         class="{{ 'active' if request.endpoint == 'pages.contact' else '' }}">
         Contact
      </a>
    </li>
  </ul>
</nav>